/* =========== Import Mixin =============*/
@import "mixin";
$lato: 'Lato', sans-serif;
$primary: #FFCD00;

body, h1, h2, h3, h4, h5, h6, a, html, section, div, button, span, input, input::-webkit-input-placeholder {
	font-family: $lato;
	background: red;
}

html { font-size: 100% }

p {
	margin-bottom: 20px;
}
h2 {
	@include em(36px, 80, 45px);
	font-weight: 900;
	color: #000000;
	margin-bottom: 10px;
	text-transform: uppercase;
}

img {
	max-width: 100%;
    height: auto;
}

body {
	@include em(15px, 80, 20px);
	font-weight: 400;
	color: #000000;
}

a {
	transition: all .3s ease;
}

.btn {
	color: #000;
	font-family: $lato;
	@include em(16px, 80, 25px );
	font-weight: 900;
	background: $primary;
	border-radius: 500px;	
	text-transform: uppercase;
	transition: all 0.5s ease;
    border: 1 solid transparent;
    display: block;
    max-width: 215px;
    padding: 17px;

	&:hover, &:focus, &:active:focus {
		color: #000;
		background: transparent;
		outline: 0;
		border-color: $primary;
        box-shadow: none;
        outline-offset: 0;
	}
}

button, a {

	&:hover, &:focus, &:active:focus {
		color: #000;
		background: transparent;
		outline: 0;
		border-color: #000;
        box-shadow: none;
        outline-offset: 0;
	}
}

.align-center {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&.reverse {
		flex-direction: row-reverse;
	}
}

.eq-height {
    display: -webkit-box;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    &:before, &:after {
        content: none;
    }
}

.container {
	max-width: 1550px;
	width: 100%;
	margin: 0 auto;
}
.divider {
	border-bottom: 1px solid #F4F4F4;
	width: 100%;
	margin: 100px 0 50px;
}
.section-title {
	margin-bottom: 50px;

	h2 {
		@include em(44px, 0, 45px);
		margin-bottom: 20px;
	}
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*****************************************************************************
*									HEADER CSS
*****************************************************************************/ 

.header {
	@include coverbg();
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1024;

	.banner-content {
		min-height: 400px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		padding-bottom: 40px;

		h1 {
			color: #fff;
			@include oem(50px, 50px );
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
		}
	}		

	.navbar {
		transition: all .3s ease;
		padding: 18px 15px;
		justify-content: space-between !important;
		background: #000;

		.logo {
			display: block;

			img {
				transition: all 0.3s ease;
				width: 100%;
			}
		}

		.navbar-collapse {
			flex-grow: inherit;;

			.navbar-nav {

				li {

					a {
						color: #fff;
						padding: 10px 20px;
						font-family: $lato;
						@include em(14px, 80, 25px);
						font-weight: 900;
						text-transform: uppercase;
						transition: all .3s ease;
					}

					&.active, &:hover, :focus, &:active:focus {

						a {
							color: $primary;
						}
					}
				}
			}
		}

		.buttons-wrapper {

			a {
				background: transparent;
				text-transform: inherit;
				padding: 17px 40px;
				@include em(14px, 80, 25px);
				border: 1px solid #fff;
				color: #fff;

				&:last-child {
					background: $primary;
					color: #000;
					margin-left: 12px;
					border-color: $primary;
				}

				&:hover, &:focus, &:active:focus {
					color: #fff;
				}
			}
		}
	}

	&.include-banner {
		background: transparent;
		position: inherit;

		.navbar {
			background: transparent;
		}

		.tab-container {
			padding: 30px;

			.nav {

				&.nav-tabs {
					border: 0;

					.nav-item {
						@include em(22px, 80, 30px);
						color: #BAB9B9;
						font-weight: 900;
						background: #EAEAEA;
						text-transform: uppercase;
						border-radius: 0;

						&.active {
							color: #000000;
						}

						&:first-child {
							border-top-left-radius: 20px;
						}

						&:last-child {
							border-top-right-radius: 20px;
						}
					}
				}
			}

			.tab-content {
				padding: 20px;
				background: #FFFFFF;
				border-top-right-radius: 40px;
				border-bottom-right-radius: 40px;
				position: relative;

				.tab-pane {

					.form-group {

						.checkbox-wrpper {

							.button {
								color: #BAB9B9;
								border: 0;
								padding: 15px 20px;
								background: transparent;
								border: 1px solid #C9C9C9;
								font-weight: 400;
								border-radius: 5px;
								text-transform: uppercase;
								@include em(15px, 80, 25px);

								&.active {
									background: #1B1818;
									color: #FFCD00;
								}

								&:last-child {
									border-left: 0;
									margin-left: -5px;
								}
							}
						}

						.neighborhood, input, select {
							@include em(12px, 0, 18px);
							color: #525252;
							padding: 19px 25px;
							background: transparent;
							border: 1px solid #C9C9C9;
							font-weight: 400;
							border-radius: 5px;
							margin-left: 5px;
							appearance: none;
						}

						.beds {
							position: relative;

							&:after {
								content: "";
							    position: absolute;
							    right: 10px;
							    top: calc(50% - 6px);
							    transform: rotate(135deg);
							    height: 7px;
							    width: 7px;
							    border-right: 1px solid #525252;
							    border-top: 1px solid #525252;
							}
						}

						.neighborhood {
							padding-right: 262px;
						}
					}

					.btn {
						margin-left: 10px;
						padding-left: 34px;
    					padding-right: 34px;
					}

					.modal {

						.modal-content {
							padding: 20px;

							.modal-body {

								.list-items {
									margin-bottom: 20px;

									a {
										color: #525252;
										padding: 2px 8px;
    									border: 1px solid #ddd;
										@include em(14px, 80, 20px);
										text-decoration: none;

										&.active-a {
											background: #ddd;
										}
									}
								}

								.tab-list {
									display: none;

									.selected-items {
										column-count: 3;

										label {
											display: block;
											padding: 0 5px;
											margin-bottom: 5px;
										}
									}

									&.tab-active {
										display: block;
									}
								}
							}
						}
					}
				}

				.btn-close {
					position: absolute;
					border: 1px solid #000;
					top: -20px;
					right: -20px;
					padding: 4px 10px;
				}
			}
		}
	}

	&.sticky {

		.navbar  {
			background: #000;
			padding-bottom: 5px;
			padding-top: 5px;

			.logo {

				img {
					width: 70%;
				}
			}
		}
	}
}

.mobile-menu {
	display: none;
}


/*****************************************************************************
*									SERVICES CSS
*****************************************************************************/
.services {
	padding: 30px 0;

	.row {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.content {
		max-width: 502px;
		margin: 0 auto;

		h2 {
			margin-bottom: 18px;
		}

		.btn {
			margin-top: 38px;
		}
	}

	.media {

		img {
			border-radius: 30px;
			max-width: 700px;
    		margin: 0 auto;
		}
	}
}


/*****************************************************************************
*								FIND A HOME
*****************************************************************************/
.find-a-home {
	margin-bottom: 20px;
	.buttons-wrapper {
		justify-content: center;

		a {
			margin: 0 5px;
		}
	}
}



/*****************************************************************************
*								CALL TO ACTION
*****************************************************************************/

.footer {
	background-image: url(../images/patran-bg.jpg);
	@include coverbg();
	padding: 40px 0px 25px;

	.company, .legal {
			margin-left: 50px;

			h4 {
				color: #fff;
				text-transform: uppercase;
				font-weight: 800;
				@include em(20px, 80, 38px);
			}

			ul {
				list-style: none;
				padding: 0;

				li {

					a {
						color: #fff;
						@include em(20px, 80, 38px);
						font-weight: 300;
						text-decoration: none;

						&:hover, &:focus {
							color: $primary;
						}
					}
				}
			}
		}
}

/*****************************************************************************
*									Rent page
*****************************************************************************/ 

.services {

	&.rent-page-banner {

		.content {

			h2 {
				color: #0F0F0F; 
				@include em(44px, 0, 45px);
			}
		}

		.media {
			position: relative;
			padding-bottom: 180px;

			.schedule-form {
				background: #fff;
				width: 100%;
				border: 1px solid #ddd;
				padding: 30px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				max-width: 504px;
				border-radius: 25px;

				h4 {
					color: #0F0F0F;
					font-weight: 700;
					margin-bottom: 10px;
					@include em(24px, 80, 36px);
				}

				form {

					input {
						width: 100%;
						padding: 20px;
						border-radius: 5px;
						border: 1px solid #ddd;
					}

					.btn {
						margin-top: 30px;
						max-width: 100%;
					}
				}
			}
		}
	}
}

.how-it-works {
	padding: 40px 0;

	.section-title {
		max-width: 618px;
		margin: 0 auto 60px;
	}

	.work-process {

		.how-it-card {
			background: #fff;
			border-radius: 30px;
			padding: 40px;
			margin: 15px 15px 40px;
			box-shadow: 0px 2px 60px 0px #00000024;

			.icon {
				height: 80px;
				width: 80px;
				border: 3px solid #000;
				border-radius: 500px;
				margin: 0 auto 20px;
				display: flex;
				align-items: center;
				justify-content: center;

				span {
					color: #000;
					font-size: 35px;
				}
			}

			h2 {
				color: #000;
				@include em(25px, 80, 35px);
				text-transform: uppercase;
			}

			p {
				color: #000;
				max-width: 490px;
				margin: 0 auto;
			}

			&:hover {

				.icon {
					animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
				}
			}
		}
	}
}

.cta {
	padding: 80px 0;
	@include coverbg();
	@include overlay(#000, .7);
	background-attachment: fixed !important;

	.content {

		h2 {
			margin-bottom: 20px;
			color: #fff;
			text-transform: uppercase;
		}

		p {
			color: #fff;
			margin-bottom: 50px;
		}

		.btn {
			margin: 0 auto;

			&:hover, &:focus {
				color: #fff;
				border-color: #fff;
			}
		}
	}
}

.footer-v2 {
	background-image: url(../images/patran-bg.jpg);
	@include coverbg();
	padding: 20px 0px;

		.section-wrapper {

			h2 {
				margin-bottom: 20px;
				text-transform: uppercase;
				color: #fff;
			}

			p {
				margin-bottom: 50px;
				color: #fff;
			}

			.btn {
				margin: 0 auto;
				color: #000;
				border: 1px solid transparent;

				&:hover {
					background: transparent;
					color: #fff;
					border-color: #fff;
				}
			}
		}

}




/*****************************************************************************
*									LEGAL PAGE
*****************************************************************************/ 
.tab-wrapper {
	margin-bottom: 60px;

	.tab-container {

		.nav {
			border-radius: 0;
			border: 0;
			display: block;

			&.nav-tabs {

				a {
					border-radius: 0;
					color: #525252;
					font-weight: 400;
					padding: 28px 30px;
					@include em(18px, 0, 24px);
					border: .5px solid #C9C9C9;
					position: relative;
					border-right: 0;
					text-align: center;

					&:after {
						position: absolute;
						content: "";
						width: 10px;
						height: 100%;
						background: #00D8FF;
						right: -0.5px;
						top: 0;
						z-index: 1;
						opacity: 0;
						transition: all .3s ease;
					}

					&.active, &:hover, &:focus {
						font-weight: 900;

						&:after {
							opacity: 1;
						}
					}
				}
			}
		}

		.tab-content {
			padding: 60px;
			border: 1px solid #C9C9C9;

			.tab-pane {

				h1 {
					@include em(44px, 0, 27px);
					text-transform: uppercase;
					font-weight: 900;
					margin-bottom: 30px;
				}
			}
		}
	}
}

/*****************************************************************************
*									Sell page
*****************************************************************************/ 
.how-it-works {

	.section-title {

		h2 {
			max-width: 875px;
		}
	}
}

.sell-your-home {
	margin: 100px 0;

	.section-wrapper {
		max-width: 688px;
		margin: 0 auto;

		p {
			margin-bottom: 0;
			@include em(22px, 80, 30px);
		}
		ul {
			list-style: none;
			padding-left: 0;


			li {
				@include em(22px, 80, 30px);

			}
		}
	}
}


/*****************************************************************************
*									CONTACT PAGE
*****************************************************************************/ 
.contact-form {
	margin-top: 100px;

	.form-title {

		h1 {
			@include em(44px, 0, 27px);
			font-weight: 900;
			margin-bottom: 20px;
		}

		p {
			@include em(20px, 0, 32px);
			font-weight: 300;
		}
	}
	form {
		input[type='text'],
		input[type='email'],
		input[type='number'],
		select {
			width: 49.5%;
			height: 48px;
			border: 1px solid #707070;
			border-radius: 5px;
			margin-bottom: 10px;
			padding-left: 10px;
		}

		textarea {
			width: 100%;
			margin-bottom: 20px;
		}
		a {
			margin: 0 auto;
		}
	}
}

/*****************************************************************************
*									AGENT PAGE
*****************************************************************************/ 
.header {

	.banner-content {

		&.hero-banner {

			h1 {
				max-width: 1245px;
				margin: 0 auto;
				margin-bottom: 40px;
			}
			.search-form {
				max-width: 635px;
				margin: 0 auto;
				form {

					input[type='text'] {
						width: 70%;
						border-radius: 5px 0px 0px 5px;
						height: 55px;
						padding-left: 20px;
						border: 0;
					}
					input[type="submit"] {
						@include em(15px, 80, 35px);
					    font-family: $lato;
					    text-transform: uppercase;
					    font-weight: 900;
					    padding: 15px 33px;
					    border-radius: 50px;
					    color: #fff;
					    background: #464646;
					    transition: all 0.5s ease;
					    margin-left: 15px;
					    border: 0;
					}
					
					input[type="text"] {

						&:hover, &:focus {
							outline: 0;
						}
					}
					input[type="submit"] {

						&:hover, &:focus {
							outline: 0;
							background: #fff;
							color: #000;
						}
					}
				}
			}
		}
	}		
}

.agent-area {
	padding-top: 80px;
	padding-bottom: 55px;

	a {
		text-decoration: none;
		margin-bottom: 15px;
		color: #000;


		img {
			border-radius: 500px;
			margin-bottom: 20px;
			max-width: 220px !important;
		}
		p {
			@include em(20px, 80, 14px);
		}

	}
}

/*****************************************************************************
*									NEIGHBORHOOD LIST PAGE
*****************************************************************************/ 

.neighborhood-area {
	padding-top: 80px;
	padding-bottom: 55px;

	a {
		text-decoration: none;
		margin-bottom: 15px;
		color: #000;


		img {
			border-radius: 30px;
			margin-bottom: 20px;
		}
		p {

			&.name {
				@include em(20px, 80, 18px);
				font-weight: 900;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
			&.sub-name {
				@include em(14px, 80, 18px);
				color: #BAB9B9;
				font-weight: 900;
			}
		}

	}
}


/*****************************************************************************
*									NEIGHBORHOOD PAGE
*****************************************************************************/ 
.banner {
	@include coverbg();

	.banner-content {
		min-height: 773px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		h5 {
			color: #fff;
			@include em(23px, 80, 35px );
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 35px;
		}
		h1 {
			color: #fff;
			@include em(62px, 80, 75px );
			font-weight: 700;
			text-transform: uppercase;
		}

		.tab-container {
			padding: 20px;
			background: #fff;
		}
	}
}

.neighborhood-check {
	padding-top: 50px;
	padding-bottom: 50px;

	.title {
		@include em(24px, 80, 24px);
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 24px;
	}

	a {
		text-decoration: none;
		margin-bottom: 15px;
		color: #000;


		img {
			border-radius: 30px;
			margin-bottom: 20px;
		}
		p {

			&.name {
				@include em(20px, 80, 18px);
				font-weight: 900;
				text-transform: uppercase;
				margin-bottom: 5px;
			}
		}
	}
}

.location {
	margin-top: 60px;
	
	.side-bar-wrapper {
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    justify-content: space-between;

		.tag-area {

			h3 {
				@include em(12px, 80, 14px);
				font-weight: 900;
			}
			ul {

				li {
					&.list-inline-item {
					    border-radius: 4px;
					    margin-bottom: 10px;


					    a {
					   		@include em(13px, 0, 30px);
					    	text-decoration: none;
					    	color: #000;
					    }
					}
				}
			}
			&.nearest-subways {
				h3 {
					&.nearest-title {
						margin-bottom: 20px;
					}
				}
				ul {

					li {
						&.list-inline-item {
						    border-radius: 500px;
						    @include em(20px, 0, 30px);
						    margin-bottom: 10px;
						    height: 43px;
						    width: 43px;
						    color: #ffffff;
						    font-weight: 700;

						    &.red {
						    	background: #D0301F;
						    }
						    &.green {
						    	background: #327232;
						    }
						    &.blue {
						    	background: #2C6CB1;
						    }
						}
					}
				}
			}
		}

		.commute-times {

			h3 {
				&.commute-title {
					@include em(12px, 80, 14px);
					font-weight: 900;
				}
			}
			ul {

				li {
					&.list-inline-item {
					    @include em(14px, 80, 30px);
					    font-weight: 400;
					    margin-bottom: 10px;

					    span {
					    	font-weight: 900;
					    }
					}
				}
			}
		}
	}
	.button-wrapper {
		margin-top: 50px;
		a {
			&.btn {
				max-width: 530px;
				margin-bottom: 25px;
				padding: 35px 17px;
				@include em(18px, 0, 17px);
				font-weight: 900;

				&.dark {
					background: #000;
					color: #fff;

					&:hover {
						background: #fff;
						color: #000;
						border: 1px solid #000;
					}
				}
			}
		}
	}
}


/*****************************************************************************
*									AGENT DETAILS PAGE
*****************************************************************************/ 
.agent-details {
	margin-top: 50px;
	margin-bottom: 50px;

	img {
		border-radius: 500px;
	}
	.agent-name {
		@include em(20px, 80, 35px);
		font-weight: 900;
		margin-top: 20px;
		margin-bottom: 0px;
		text-transform: uppercase;
	}
	.agent-company {
		@include em(14px, 80, 14px);
		font-weight: 300;
		margin-bottom: 20px;
	}
	a {
		&.btn {
			margin: 0 auto;
			max-width: 234px;
    		padding: 16px;
		}
	}

	.counter-wrapper {
		margin-top: 33px;

		ul {

			&.list-inline {
			    padding: 18px 0;
			    max-width: 342px;
			    border: 1px solid #C9C9C9;
			    border-radius: 500px;
			    margin: 0 auto;
			}

			li {

				&.list-inline-item{

					&:not(:last-child){
						border-right: 1px solid #C9C9C9;
					}

					ul {

						&.count-item {
							list-style: none;
							padding: 0 20px;
							max-width: 150px;

							li {



								&.count {
									@include em(12px, 80, 14px);
									font-weight: 900;
								}
								&.count-name {
									@include em(12px, 0, 14px);
									font-weight: 300;

									span {
										display: block;
										@include em(8px, 0, 14px);
										font-weight: 300;
									}
								}
							}
						}
					}
				}
			}
		}
	}



	.agent-about {
		.about-title {
			@include em(20px, 80, 25px);
			font-weight: 900;

		}
		.about-details {
			@include em(14px, 80, 20px);
			font-weight: 300;
			margin-bottom: 60px;
		}
	}
}
.tag-area {
	margin-bottom: 24px;
	h3 {
		&.tag-title {
			@include em(20px, 80, 14px);
			font-weight: 900;
			margin-bottom: 20px;
		}
	}
	ul {
		li {
			&.list-inline-item {
			    background: #EAEAEA;
			    padding: 5px 15px;
			    border-radius: 50px;
			    margin-bottom: 10px;


			    a {
			    	@include em(12px, 80, 23px);
			    	text-decoration: none;
			    	color: #000;
			    }
			}
		}
	}
}

section[class^="stipple-tab"] {
	.nav-pills {

		.nav-item {

			a {
				@include em(14px, 80, 14px);
				font-weight: 300;
				color: #000;
				text-transform: uppercase;
				border-radius: 0;

				&.active {
					font-weight: 900;
					background: transparent;
					border-bottom: 5px solid #000;

				}
			}
		}
	}
}
.stipple-tab-price-table {
	margin-bottom: 50px;

	.table-title {
		margin-bottom: 30px;
		h2 {
			@include em(25px, 80, 35px);
			background: #FAFAFA;
			padding: 20px;
		}
	}

	.tab-content {

		.tab-pane {

			.table {

				thead {

					tr {

						th {
							@include em(9px, 0, 11px);
							font-weight: 300;
							color: #000;
						}
					}
				}
				tbody {
					tr {

						td {
							@include em(10px, 0, 12px);
							font-weight: 400;
							color: #000;

							button {
								border: 0px;

								&.available {
									@include em(12px, 0, 15px);
									font-weight: 900;
									background: #17E5C5;
									text-transform: uppercase;
									color: #fff;
									padding: 5px 10px;
									transition: all 0.5s ease;

									&:hover, &:focus {
										background: #000;
									}
								}

								&.app-pending {
									@include em(12px, 0, 15px);
									font-weight: 900;
									background: #FFCD00;
									text-transform: uppercase;
									color: #fff;
									padding: 5px 10px;

									&:hover, &:focus {
										background: #000;
									}
								}
							}

							span {
								&.no-fee {
									@include em(10px, 0, 12px);
									font-weight: 400;
									padding: 2px;
									background: #000;
									color: #fff;
									text-transform: uppercase;
								}
							}

						}
					}
				}
			}
		}
	}
}


/*****************************************************************************
*									TEAM DETAILS
*****************************************************************************/

.stipple-tab-team-about {

	.tab-content {

		.tab-pane {
			a {
				text-decoration: none;
				margin-bottom: 15px;
				color: #000;


				img {
					border-radius: 500px;
					margin-bottom: 20px;
				}
				p {
					margin-bottom: 10px;

					&.name {
						@include em(14px, 80, 14px);
						font-weight: 900;
						text-transform: uppercase;

					}
					&.poss {
						@include em(12px, 80, 14px);
						font-weight: 300;

					}
					&.team-leader {
						@include em(12px, 80, 14px);
						font-weight: 700;
						background-color: yellow;
						display: inline-block;
						padding: 5px;

					}
				}

			}
		}
	}
}

/*****************************************************************************
*								LISTINGS-LIST
*****************************************************************************/
.listing-status-area {

	.listing-details {

		.title {
			display: flex;
    		align-items: center;
    		justify-content: space-between;

			h3 {
				color: #000;
				font-weight: 700;
				margin-bottom: 0;
				@include em(24px, 80, 34px);
			}

			p {
				@include em(14px, 80, 20px);
			}
		}

		.share-buttons {

			a {
				@include em(12px, 0, 16px);
				background: #ddd;
				padding: 5px 10px;
				color: #000;
				border-radius: 500px;

				span {
					margin-right: 5px;
				}
			}
		}

		.listings {
			border-radius: 30px;
			border: 1px solid #C9C9C9;
			padding: 7px;
			display: flex;
			align-items: center;

			h3 {
				color: #fff;
				font-weight: 700;
				@include em(14px, 80, 20px);
				text-align: center;
			    width: 21%;
			    margin: 0;
			}

			ul {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				text-align: center;
				margin-bottom: 0;
				padding: 0 20px;

				li {
					list-style: none;

					p {
						@include em(12px, 80, 20px);
						margin-bottom: 0;

						span {
							color: red;
						}

						strong {
							display: block;
						}
					}
				}
			}
		}

		.forsale {
			margin-bottom: 15px;
			position: relative;

			&:before {
				position: absolute;
				content: "";
				height: 100%;
				width: 112px;
				background: #000;
				z-index: -1;
				left: 0;
				top: 0;
				border-top-left-radius: 30px;
				border-bottom-left-radius: 30px;
			}
		}

		.form-area {
			padding: 20px; 
			margin-top: 30px;
			border-radius: 20px;
			border: 1px solid #C9C9C9;

			.profile {
				display: flex;
    			align-items: center;
    			margin-bottom: 20px;

    			.img {
    				margin-right: 20px;
    			}
			}

			form {

				.form-group {
					margin-bottom: 0;

					input {
						border: 1px solid #C9C9C9;
						border-radius: 5px;
						height: inherit;
						margin-bottom: 15px;
						@include placeholder(#707070, 12px, 400);
						padding: 7px 15px;
					}

					&.two-col {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-gap: 15px;
					}
				}

				.buttons-wrapper {
					margin-top: 20px;
					display: flex;
					align-items: center;
    				justify-content: space-between;

    				.btn {
    					width: 100%;
    					border: 1px solid $primary;
    					background: transparent;
    					padding: 10px 20px;

    					span {
    						margin-right: 10px;
    					}

    					&:hover, &:focus {
    						background: $primary;
    					}
    				}
				}
			}
		}

		.data-slider-wrapper {
			padding: 20px; 
			margin-top: 30px;
			border-radius: 20px;
			border: 1px solid #C9C9C9;

			.slick-next:before, .slick-prev:before {
				color: #000;
			}

			.date-slider {
				max-width: 430px;
				margin: 0 auto;

				.items {
					border-radius: 20px;
					border: 1px solid #C9C9C9;
					padding: 20px;
					margin: 5px;outline: none;
					outline-offset: 0;

					h5 {
						color: #000;
						@include em(20px, 80, 28px);
					}

					p {
						margin-bottom: 0;
					}
				}
			}

			.button {
				margin-top: 30px;

				.btn {
					margin: 0 auto;
				}
			}
		}
	}
}

.travel-times {
	margin-top: 20px;

	h3 {
			&.title {
				@include em(15px, 80, 20px);
				font-weight: 900;
			}
		}

	.travel-times-title {
		display: flex;
		align-items: center;

		h3 {
			@include em(15px, 80, 18px);
			font-weight: 900;
			margin-right: 20px;
		}

		label {
			&.switch {
				position: relative;
				display: inline-block;
				width: 60px;
				height: 34px;

				input {
					opacity: 0;
					width: 0;
					height: 0;
				}
				input:checked + .slider {
					background-color: #000000;
				}

				input:checked + .slider:before {
					-webkit-transform: translateX(26px);
					-ms-transform: translateX(26px);
					transform: translateX(26px);
				}

				span {

					&.slider {
						position: absolute;
						cursor: pointer;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: #ccc;
						-webkit-transition: .4s;
						transition: .4s;

						&:before {
							position: absolute;
							content: "";
							height: 26px;
							width: 26px;
							left: -1px;
							bottom: 0;
							background-color: white;
							-webkit-transition: .4s;
							transition: .4s;
						}
						&.round {
							border-radius: 34px;
		  					border: 5px solid #E5E5E5;

		  					&:before {
		  						border-radius: 50%;
		  					}
						}
					}
				}
			}
		}
	}
	label {

		&.work-form {
			width: 100%;
			max-width: 512px;

			input {
				height: 40px;
				width: 100%;
				border-radius: 10px;
				border: 1px solid #C9C9C9;
				padding: 0 10px;

				&:focus {
					border: 1px solid #FFCD00;
					outline: 0;
				}
			}
		}
	}
	.description {
		margin-top: 30px;
		margin-bottom: 40px;
		p {
			@include em(14px, 80, 25px);
			font-weight: 300;
		}
	}

	.table {
		th,td {
			padding: 0;
			@include em(14px, 80, 25px);
		}
		th {
			font-weight: 300;
		}
		td {
			font-weight: 700;
		}
	}
	.tag-area {
		max-width: 800px;

		&.listings-tag {
			margin-top: 35px;
		}
		ul {
			li {
				&.list-inline-item {
				    padding: 5px 10px;
				    border-radius: 4px;

				    a {
				    	@include em(17px, 0, 23px);
				    	text-decoration: none;
				    	color: #000;
				    }
				}
			}
		}
	}
}

.tour-this-place {
	margin-top: 50px;
	margin-bottom: 100px;

	h2 {
		&.title {
			@include em(30px, 80, 45px);
			font-weight: 900;
		}
	}
	.profile {
		display: flex;
		img {
			border-radius: 500px;
			height: 112px;
			width: 112px;
		}
		.content {
			margin-left: 25px;
			h4 {
				&.pro-name {
					@include em(20px, 80, 35px);
					font-weight: 900;
				}
			}
			h6 {
				&.pro-title {
					@include em(10px, 80, 14px);
					font-weight: 300;
				}
			}
			a {
				&.btn {
					padding: 14px 15px;
					@include em(15px, 0, 15px);
				}
			}
		}
	}
}

/*****************************************************************************
*									PLAN PAGE
*****************************************************************************/ 
.service-video {

	.content {

		p {
			margin: 25px 0;
		}

		.list-items {
			list-style: none;

			a {
				color: #000000;
				@include em(20px, 80, 30px);
				text-decoration: none;
				font-weight: 700;
				display: block;
			}
		}
	}

	.video {

		video {
			width: 100%;
			height: 100%;
		}
	}

	.calculator {
		margin: 100px 0 0;
		
		.title {

			h2 {
				@include em(44px, 0, 52px);
				max-width: 1000px;
				margin: 0 auto 20px;
			}

			p {
				max-width: 500px;
				margin: 0 auto 25px;
			}
		}

		.totla-gross-commission {
			border: 1px solid #C9C9C9;
			margin-bottom: 35px;
			display: inline-block;
			padding: 5px 45px;

			h6 {
				margin: 0;
				@include em(10px, 80, 20px);
			}

			h3 {
				margin: 0;
				@include em(20px, 80, 30px);
			}
		}
	}

	.table-wrapper {

		.table {
			display: inline-table;

			thead {
				width: 100%;
				background: #575757;

				tr {

					th {
						color: #fff;
						font-weight: 900;
						border: 0;
						@include em(35px, 80, 45px);

						&:last-child {
							background: #FFCD00;
							color: #000;
						}
					}
				}
			}

			tbody {
				width: 100%;

				tr {

					td {
						border: 0;
						color: #000000;
						vertical-align: middle;
						@include em(20px, 80, 30px);

						&:last-child {
							background: #FFCD00;
						}
					}
				}
			}
		}
	}
}

.pricing-plan {
	margin: 0 auto;
	max-width: 1110px;
	padding: 50px 0;

	.title {
		margin-bottom: 30px;

		h4 {
			color: #000;
			font-weight: 900;
			text-align: center;
			@include em(30px, 80, 40px);
		}
	}

	.table {
		width: 100%;
		display: inline-table;

		thead {
			background: #000;

			tr {

				th {
					color: #fff;
					@include em(45px, 80, 55px);
					text-align: center;

					b {
						display: block;
						@include em(15px, 80, 22px);
					}
				}
			}
		}

		tbody {

			tr {

				td {
					@include em(14px, 80, 20px);
					text-align: center;
					font-weight: 700;
					border: 0;
					vertical-align: middle;

					&:first-child {
						font-weight: 400;
					}

					&:not(:first-child) {
						@include em(18px, 80, 30px);
					}

					.btn {
						max-width: 100%;
    					padding: 7px 35px;
					}
				}
			}
		}
	}
}


/*****************************************************************************
*									LISTINGS LSIT WEB
*****************************************************************************/ 
.maplist-wrapper {
	padding: 20px 0;

	.search-items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.search-field {
			max-width: 295px;
			width: 100%;
			padding: 20px 30px;
			display: flex;
			align-items: center;
			border: 1px solid #525252;
			border-radius: 500px;

			span {
				margin-right: 10px;
			}

			input {
				border: 0;
				width: 100%;

				&:focus {
					outline: 0;
					outline-offset: 0;
					border: 0;
				}
			}
		}

		.btn {
			margin-bottom: 15px;
			border: 1px solid #525252;
			background: transparent;
			margin-left: 15px;

			&.search-btn {
				background: $primary;
				border-color: $primary;
			}
		}
	}

	.service-list-wrapper {

		.service-list {
			border: 1px solid #EAEAEA;
			margin-bottom: 30px;

			.media {
				position: relative;

				img {
					width: 100%;
				}

				.category {
					position: absolute;
					bottom: 10px;
					right: 10px;
					padding: 5px 10px;
					background: #707070;
					border-radius: 30px;
					color: #fff;
				}
			}

			.content {

				p {
					margin: 0;

					span {
						color: #000000;
						font-weight: 700;
						padding: 0 10px;
						@include em(12px, 0, 20px);
					}

					&.title {
						padding: 0 10px;
						@include em(10px, 0, 15px);
						color: #000000;
					}
				}
			}
		}
	}
}


/*****************************************************************************
*									RESPONSIVE
*****************************************************************************/ 
@import "responsive";